In [1]:
import pandas as pd
import time
from sqlalchemy import create_engine

In [10]:
csv_data_source = 'taxi+_zone_lookup.csv'

In [11]:
df = pd.read_csv(csv_data_source, sep=',')

In [12]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

Check the schema for this data set

In [13]:
print(pd.io.sql.get_schema(df, name = "zone_data", con=engine))

CREATE TABLE zone_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

Create table

In [25]:
df_iter = pd.read_csv(csv_data_source, sep=',', iterator=True, chunksize=500000)

TEST database

In [15]:
query = """
SELECT * FROM zone_data LIMIT 10
"""

pd.read_sql(query, con=engine)

   index  LocationID        Borough                     Zone service_zone
0      0           1            EWR           Newark Airport          EWR
1      1           2         Queens              Jamaica Bay    Boro Zone
2      2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3      3           4      Manhattan            Alphabet City  Yellow Zone
4      4           5  Staten Island            Arden Heights    Boro Zone
5      5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6      6           7         Queens                  Astoria    Boro Zone
7      7           8         Queens             Astoria Park    Boro Zone
8      8           9         Queens               Auburndale    Boro Zone
9      9          10         Queens             Baisley Park    Boro Zone