In [5]:
import pandas as pd
import time
from sqlalchemy import create_engine

In [10]:
csv_data_source = 'output.csv.gz'

In [17]:
df = pd.read_csv(csv_data_source, sep=',', nrows=100)

In [18]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [19]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

Check the schema for this data set

In [21]:
print(pd.io.sql.get_schema(df, name = "green_trip_data", con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [23]:
print(pd.io.sql.get_schema(df, name = "green_trip_data", con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

Create table

In [24]:
df.head(n=0).to_sql(name='green_trip_data', con=engine, if_exists='replace')

0

In [25]:
df_iter = pd.read_csv(csv_data_source, sep=',', iterator=True, chunksize=500000)

In [26]:
loop = True
while loop: 
    try:
        t_start = time.time()
        df = next(df_iter)
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
        df.to_sql(name='green_trip_data', con=engine, if_exists='append')
        t_end = time.time()
        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        loop = False
        print('Iteration is END!!!')

inserted another chunk, took 49.386 second
inserted another chunk, took 12.334 second
Iteration is END!!!

TEST database

In [27]:
query = """
SELECT * FROM green_trip_data LIMIT 10
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,...,0.5,0.5,0.00,0.0,None,0.3,4.30,2,1,None
1,1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,...,0.5,0.5,0.00,0.0,None,0.3,7.30,2,1,None
2,2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,...,0.5,0.5,0.00,0.0,None,0.3,5.80,1,1,None
3,3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,...,0.5,0.5,2.96,0.0,None,0.3,19.71,1,1,None
4,4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,...,0.5,0.5,0.00,0.0,None,0.3,19.30,2,1,None
5,5,2,2019-01-01 00:12:35,2019-01-01 00:19:09,N,1,49,17,1,1.05,...,0.5,0.5,0.00,0.0,None,0.3,7.80,1,1,None
6,6,2,2019-01-01 00:47:55,2019-01-01 01:00:01,N,1,255,33,1,3.77,...,0.5,0.5,0.00,0.0,None,0.3,14.80,1,1,None
7,7,1,2019-01-01 00:12:47,2019-01-01 00:30:50,N,1,76,225,1,4.10,...,0.5,0.5,0.00,0.0,None,0.3,17.30,1,1,None
8,8,2,2019-01-01 00:16:23,2019-01-01 00:39:46,N,1,25,89,1,7.75,...,0.5,0.5,0.00,0.0,None,0.3,26.80,1,1,None
9,9,2,2019-01-01 00:58:02,2019-01-01 01:19:02,N,1,85,39,1,3.68,...,0.5,0.5,0.00,0.0,None,0.3,16.80,1,1,None